@import url(https://fonts.googleapis.com/css?family=Comfortaa);

*{
    margin: 0;
    padding: 0;
}

@font-face {
   font-family:'Comfortaa' ;
}

body {
  font-family:'Comfortaa';
  background: #47AB73;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-bottom: : 100px;
  overflow: hidden;
}



.header {
  background-color: white;
  text-align: center;
  width: 100%;
  height: 60px;
  padding: 5px;
  z-index: auto;
  position: fixed;
  vertical-align: middle;
  left: 0;
  top: 0;
  margin: 0;
  box-shadow: 2px 3px 4px -1px rgba(0,0,0,0.40);

}
.logo {
  float: left;
}
.titulo {
  font-size: 20px;
  display: inline-block;
  margin-top: 15px;
}

.descripcion {
  color: white;
  margin: 20px;
  font-size: 20px;
}

.footer {
  background-color: white;
  width: 100%;
  height: auto;;
  text-align: left;
  padding: 10px;
  z-index: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 0;
  box-shadow: 2px -1px 5px 0px rgba(0,0,0,0.75);
  font-size: 20px;
}

.mensaje {
  background-color: white;
  border-radius: 5px;
  margin: 25px;
  padding: 20px;
  box-shadow: 2px 3px 4px -1px rgba(0,0,0,0.40);
  text-align: left;

}

.avatar {
  display: inline-block;
  margin-right: 20px;
}

.data_mensaje {
  padding: 0;
  margin: 0;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

input {
  font-family:'Comfortaa';
  border-radius: 5px;
  border: solid 2px;
  font-size: 18px;
  padding: 10px;
  margin: 8px;
}

.escribiendo {
  color: white;
}

.boton {
  font-family:'Comfortaa';
  border-radius: 5px;
  border: solid 2px;
  font-size: 18px;
  padding: 10px;
  margin: 8px;
  color: white;
  background-color: #AB3834;
}
.boton:hover {
  background-color: #752624;
}

.lista_mensajes {
  margin-bottom: 200px;
  height: 300px;
  overflow: auto;
}

.buttonCircular {
    background-color: #AB3834;
    border: 0;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    text-align: center;
    box-shadow: 1px 3px 5px -1px rgba(0,0,0,0.40)
}
    .buttonCircular:hover {
        background: #752624;
    }

@media only screen and (min-width: 768px) {
  body {
    text-align: center;
  }
  .mensaje {
    width: 50%;
    margin: 25px auto;
  }
  .footer {
    text-align: center;
  }
  .lista_mensajes {
    height: 450px;
  }
}
